<nav class="navbar navbar-dark bg-info">
  <button [routerLinkActiveOptions]="{exact: true}" routerLink="/" routerLinkActive="active" class="btn btn-warning">home</button>
  <button routerLink="/features" routerLinkActive="active" class="btn btn-warning">features</button>
  <button routerLink="/docs" routerLinkActive="active" class="btn btn-warning">docs</button>
  <button routerLink="/resources" routerLinkActive="active" class="btn btn-warning">resources</button>
  <button routerLink="/blog" routerLinkActive="active" class="btn btn-warning">blog</button>
</nav>

<router-outlet></router-outlet>
